<div class="alart">
<% if @list.errors.any? %>
  <%= @list.errors.count %>件のエラーが発生しました
  <% @list.errors.full_messages.each do |message| %>
    <%= message %>
  <% end %>
<% end%>
</div>


<div class="title">
  <h1>新規投稿</h1>
</div>

<section class="section">

  <%= form_with model: @list, url:'/todolists', local:true do |f| %>
  <div class="field">
    <h2>タイトル</h2>
    <%= f.text_field :title, placeholder: "タイトル" %>
  </div>
  <div class="field">
    <h2>本文</h2>
    <%= f.text_area :body, placeholder: "詳細" %>
  </div>
  <div class="field">
    <h2>画像</h2>
    <%= f.attachment_field :image %>
  </div>

  <div class="field">
    <%= f.submit '投稿', class: "button" %>
  </div>

  <% end %>
</section>
 
</div>

