<div class="title">
  <h1><%= @list.title %></h1>
</div>

<section class="section">
  <div class="columns">
    <div class="column">
      <%= attachment_image_tag @list, :image, fallback: "nophoto_thumbnail.png", format: 'jpeg', size: "300x300" %>
    </div>
    <div class="column">
      <div class="field">
        <h2>タイトル</h2>
        <p><%= @list.title %></p>
      </div>
      <div class="field">
        <h2>本文</h2>
        <p><%= @list.body %></p>
      </div>
      <div class="field">
        <div class="button-style">
          <%= link_to "編集", edit_todolist_path(@list.id), class: "button" %>
        </div>
        <div class="button-style">
          <%= link_to "削除", destroy_todolist_path(@list.id), method: :delete, "data-confirm" => "本当に削除しますか？", class: "button" %>
        </div>
      </div>
    </div>
  </div>
</section>

